<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="log_home" value="logs" />
    <property name="pjName" value="antsc"></property>
    <property name="FILE_LOG_PATTERN" value="%date %level [%thread] %logger{50} [%file:%line] %msg%n"></property>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/${pjName}.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/${pjName}-%d{yyyyMMdd}-%i.log</fileNamePattern>
            <MaxHistory>365</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2048MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="sensitive" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/${pjName}_sensitive.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/${pjName}_sensitive-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--不向上打印 additivity="false" 认为敏感日志单独一份，但root日志有汇总-->
    <logger name="sensitive" level="info" additivity="false">
        <appender-ref ref="sensitive"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>
